.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.big {
  font-size: 20px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 600px;
  cursor: pointer;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: hsl(0, 0%, 69%);}

th, td {
  padding: 15px;
  /* text-align: left; */
}

td.option {
  min-width: 270px;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}


ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 4px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.login {
  /* display: flex;
  justify-content: center; */
  cursor: pointer;
  max-width: 200px;
  margin: 0 auto;
}

.login:hover {background-color: hsl(0, 0%, 90%);}

.answer-question {
  min-height: 100px;
  max-width: 420px;
  margin: 0 auto;
  line-height: 100px;
  cursor: pointer;
}

.answered-question {
  padding: 42px;
  /* min-height: 100px; */
  max-width: 420px;
  margin: 0 auto;
  /* line-height: 100px; */
  /* pointer-events: none; */
}

.answer-question:hover {background-color: hsl(139, 55%, 46%);}

.small {
  font-size: 11px;
}

table.leaderboard {
  pointer-events: none;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text-area {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 60px;
  width: 250px;
}

.btn {
  text-transform: uppercase;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}