.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.big {
  font-size: 20px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 600px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: hsl(0, 0%, 69%);}

th, td {
  padding: 15px;
  /* text-align: left; */
}

td.option {
  min-width: 270px;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}


ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 4px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.login {
  /* display: flex;
  justify-content: center; */
  cursor: pointer;
  max-width: 200px;
  margin: 0 auto;
}

.login:hover {background-color: hsl(0, 0%, 90%);}